*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;                                                                                                                                                                                                                                           
}

main{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adressform{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
}

address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

address p{
    font-size: 17px;
    line-height: 20px;
}


address li{
    list-style: none;
    padding-bottom: 10px;

}

address li a{
    text-decoration: none;
    color: black;
    font-size: 17px;

}


form{
    width: 450px;
}

form h4{
line-height: 75px;
font-size: 52px;
font-weight: 600;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group textarea{
    width: 100%;
    padding: 8px 10px;
    outline: 0;
    border: 1px solid #999;
    border-radius: 6px;
}

.form-group{
    padding: 6px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-md-12{
    width: 100%;
}

.col-md-6{
    min-width: 50%
}

button[type="submit"]{
    padding: 6px 12px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #2d6cdf;
    
}