*{
    --primary-color: #492540;
    --secondary-color: #c03546;
    --info-color: #f26d5b;
    --light-info-color: #e3c4a8;
    --warning-color: #ffc20e;
    --danger-color: #ce181e;
    --dark-color: #222222;
    --white-color: #fff;
}