@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(./brandcolor.css);
@import url(./nav.css);
@import url(./introduction.css);
@import url(./main.css);
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
 }

 .outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 .outfit-semibold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
 .outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 .btn {
   text-decoration: none;
   padding: 8px 20px;
   background-color: var(--grey-color);
   color: var(--white-color);
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 10px;
   border-radius: 3px;
   border: none;
 }

 .btn-primary{
   background-color: var(--primary-color);
 }

 .w-120 {
   width: 120px;
 }

 .icon {
   color: var(--white-color);
 }

 .container{
  padding: 20px 40px;
 }

 .container-fluid{
  padding: 20px 10px;
 }

main>section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  /* text-align: center; */
  padding: 40px 0px;
}
h1{
  text-decoration: underline;
  line-height: 75px;
}

.coffee>h1{
  text-decoration: underline;
  line-height: 75px;
}

.card{
  box-shadow: 2px 2px 4px 4px #ddd;
  width: 18rem;
  border-radius: 4px;
  position: relative;
}

.card-body, .card-title, .card-icon, .card-footer{
  padding: 10px 20px;
}

.card-default{
  background-color: var(--white-color);
}

.card-image img{
  width: 100%;
  object-fit: contain;
  height: 22rem;
}

.card-overlay {
  background-color: var(--light-info-color);
  height: 50%;
  /* transform: translateY(-100%); */
  position: absolute;
  top: 50%;
  opacity: 0;
  border-radius: 0px 0px 4px 4px;
  padding: 20px 40px;
  transition: opacity 1s;
}

.card-icon>ion-icon{
  font-size: 32px;
  color: var(--grey-color);
}

.card:hover .card-overlay{
  opacity: 0.9;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.bg-primary{
  background-color: var(--primary-color);
}
.bg-info{
  background-color: var(--light-info-color);
}

.price-tag{
  position: absolute;
  top: 10%;
  right: 0%;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 3px 0px 0px 3px;
}

.old-price-tag{
  position: absolute;
  top: 22%;
  right: 0%;
  padding: 10px 20px;
  background-color: var(--danger-color);
  color: var(--white-color);
  border-radius: 3px 0px 0px 3px;
}

.btn{
  display: inline-block;
  transition: all 1s ease-in-out;
}

.btn-link{
  background-color: transparent;
  color: var(--primary-color);
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  transition: all 1s ease-in-out;
}

.card-footer>.btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.btn-link:hover{
  text-decoration: underline;
}



.text-center{
  text-align: center;
  font-size: 20px;
}

.p-t-2{
  padding-top: 20px;
}

.row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

address ul>li{
  list-style-type: none;
  padding: 5px 0px;
  display: block;
}

address p{ font-size: 17px; padding: 10px 0px; color: var(--dark-color);}

address p>ion-icon, address ul>li>a>ion-icon{
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 100%;
  margin-right: 10px;
}

address ul>li>a{
  text-decoration: none;
  color: var(--dark-color);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
/* start of contact us style*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;                                                                                                                                                                                                                                           
 }
 
 main{
     width: 80%;
     margin: 20px auto;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }
 
 .adressform{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .map{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 address{
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 20px;
 }
 
 address p{
     font-size: 17px;
     line-height: 20px;
 }
 
 
 address li{
     list-style: none;
     padding-bottom: 10px;
 
 }
 
 address li a{
     text-decoration: none;
     color: black;
     font-size: 17px;
 
 }
 
 
 form{
     width: 450px;
 }
 
 form h4{
 line-height: 75px;
 font-size: 52px;
 font-weight: 600;
 }
 
 .form-group input[type="text"], .form-group input[type="email"], .form-group textarea{
     width: 100%;
     padding: 8px 10px;
     outline: 0;
     border: 1px solid #999;
     border-radius: 6px;
 }
 
 .form-group{
     padding: 6px;
 }
 
 .row{
     display: flex;
     flex-wrap: wrap;
 }
 
 .col-md-12{
     width: 100%;
 }
 
 .col-md-6{
     min-width: 50%
 }
 
 button[type="submit"]{
     padding: 6px 12px;
     border: none;
     font-weight: 600;
     font-size: 14px;
     color: #fff;
     background-color: #2d6cdf;
     
 }
/* END of conatact us style */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  var(--dark-color);
}

footer .logo img{
  width: 100px;
}

footer li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 17px
}

footer ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer li {
  list-style: none;
}

footer li img {
  width: 80px;
}

footer .top-footer{
  margin-top: 10px;
}

footer .social-links ul li{
  padding: 0px 64px;
}

footer .social-links ul li ion-icon{
  font-size: 56px;
}


footer .social-links{
  padding: 64px 0px;
}